.calc{
  position: relative;
  margin-bottom: 60px;
  background: #F3F9FF;
  padding: 20px;

&__container{
  max-width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
&__error{
  color:red;
  font-size: 12px;
  margin-bottom: 20px;
}
  &__inputMap{
    width: 300px;
    margin-right: 40px;

}
  &__box{
    display: flex;
    &_input{
      display: flex;
      flex-direction: column;
    }
  }
  &__form{
    display: flex;
    flex-direction: column;

  }
  &__value{
    display: flex;

    flex-direction: column;
    margin-top: 30px;
  }
  &__price{
    background-color: #DFF0D8;

    border-radius: 20px;
    max-width: 400px;
    height: 400px;
    padding: 20px;
    margin: 60px auto 0;


    h2{
      display: flex;
      margin-top: 100px;
      align-items: center;
      justify-content: center;
    }
    &__allPrice{
      display: flex;

      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      h1{
        font-size: 48px;
        text-align: center;
      }
      h3{
        text-align: center;
      }
    }
  }
}
.modal{
position: absolute;

}

  @media (max-width: 767px) {
    .calc__box{
      flex-direction: column;
    }
    .calc__container{
      flex-direction: column;
    }
    .calc__form{
      flex-wrap: wrap;
      align-items: center;
    }

  }
