.title{

    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;

}
*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}


.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    cursor: pointer;
}
.burger {
    display: none; /* скрыть кнопку на десктопе */
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
.burger-line {
    width: 25px;
    height: 3px;
    background-color: black;
    transition: transform 0.3s, opacity 0.3s;
}

.open .burger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.open .burger-line:nth-child(2) {
    opacity: 0;
}

.open .burger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.open .menu {
    opacity: 1;
}

*:before,
*:after {
    box-sizing: border-box;

}
.swiper-pagination-bullet-active {
    background-color: black;
}
.swiper-pagination-bullet {
    background-color: rgba(0, 0, 0, 0.2);
}
:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}
@media (max-width: 767px) {
    .burger {
        display: flex; /* показать кнопку на мобильных устройствах */
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #f1f1f1;
        transition: all 0.3s;
        max-height: 0;
        overflow: hidden;
    }

    .menu.open {
        max-height: 200px; /* высота меню при открытии */
    }

    .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}